APP_LISTEN_PORT=443 ##Bisa diubah ke port 80 jika tidak ingin menggunakan TLS
APP_USE_TLS=true ##Ubah ke false jika tidak ingin menggunakan TLS
APP_COMPILE_HTML=false

DB_TYPE=postgresql/mysql/sqlite ##Pilih salah satu, sesuaikan dengan kebutuhan dan konfigurasi database yang digunakan. SQLite tidak memerlukan konfigurasi tambahan.
DB_NAME=

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Jika menggunakan MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=

TLS_KEY_PATH=cert/key.pem
TLS_CERT_PATH=cert/cert.pem
